.hero-section {
  background-color: #1a1a1a;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  height: 100%;
  color: #fff;
  background-color: #141414;
  padding: 0 60px 0 200px;
}

.banner-content h1 {
  font-weight: 600;
  font-size: 60px;
}

.banner-content p {
  font-size: 18px;
  padding: 40px 0;
}

.banner-content .banner-btn {
}

.banner-content .banner-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.banner-content .banner-btn button:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
}

.banner-content .banner-btn button:nth-child(2) {
  background-color: #703bf7;
  margin-left: 10px;
  border: 1px solid #703bf7;
}

.banner-content .banner-btn button:nth-child(2):hover {
  background-color: transparent;
  margin-left: 10px;
  border: 1px solid #262626;
}
.banner-content .feature{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.banner-content .feature .card{
  border: 1px solid #262626;
  border-radius: 5PX;
  padding: 10px 30px;
  background-color: #1A1A1A;
}   
.banner-content .feature .card h6{
  font-size: 40px;
  font-weight: 600;
}
.banner-content .feature .card p{
  padding: 0;
  font-size: 18px;
  color: #999;
}
.hero-section .banner-image {
  background-image: url("../../assets/banner-bg.png");
  background-size: 100% 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .banner-image img {
  width: 100%;
  height: 100%;
}
/* .rotator{

}
.rotator .inner-rotaor{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;

}
.rotator .inner-rotaor .rotator-img{
  position: absolute;
	width: 140px;
	height: 140px;
	background-size: cover;
	border-radius: 100vmax;
	background-position: center;
}
.rotator .inner-rotaor .text p{
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: consolas;
	color: #000;
	font-size: 17px;
	animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
} */

.service-section{
  padding: 20px 10px;
  background-color: #141414;
}
.service-section .ant-col-6{
  padding: 10px;
}
