@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
}
/* width of the entire scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar:hover {
  border: 1px solid rgba(26, 26, 26, 1);
}

body::-webkit-scrollbar-track {
  background-color: #141114;
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(26, 26, 26, 1);
  border-radius: 20px; 
}
