.product-card {
  padding: 20px;
  border: 1px solid #262626;
  border-radius: 5px;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card .product-content {
  padding-top: 20px;
}

.product-card .product-content h5 {
  font-size: 22px;
  font-weight: 500;
}

.product-card .product-content p {
  font-size: 16px;
}

.product-card .product-content span {
  padding: 8px 15px;
  border-radius: 50px;
  border: 1px solid #4d4d4d;
  background-color: #1a1a1a;
  font-size: 14px;
}

.product-card .product-content span svg {
  margin-right: 10px;
}

/* .product-card .product-content .price {
} */
.product-card .product-content .price span {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #4d4d4d;
}

.product-card .product-content .price p {
  padding: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.product-card .product-content a {
  width: 250px;
  padding: 10px;
  text-align: center;
  display: block;
  background-color: #703bf7;
  color: #fff;
  font-size: 18px;
}

.product-card .product-content a:hover {
  background-color: transparent;
  border: 1px solid #4d4d4d;
}