/* .about-hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image-section {
    width: 60%;
    height: 80%;
    border-radius: 12px;
    border: 1px solid rgba(38, 38, 38, 1);
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url(./svg/bannerBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-section img {
    width: 100%;
    height: 100%;
    border-radius: 12px;

}

.values-section {
    padding: 20px 162px 20px 162px;
    background-color: #141414;
    color: #fff;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values-section h2 {
    font-size: 72px;
    font-weight: 600;
    padding-bottom: 10px;
}

.values-section p {
    color: #4d4d4d;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 40%;
}

.right-section {
    width: 55%;
    display: flex;
    /* height: 300px; */
    padding: 60px;
    gap: 30px;
    border-radius: 12px;
    border: 1px solid #4d4d4d;
    opacity: 0px;
    flex-direction: column;
}

.right-section .row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section .row .col {
    width: 349px;
    gap: 20px;
    border-radius: 12px;
    opacity: 0px;
    padding: 10px 10px;
}

.right-section .row .col .title {
    height: 75px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right-section .row .col .title h1 {
    margin-left: 20px;
}

.margin {
    width: 100%;
    height: 1px;
    background-color: #4d4d4d;
}

.right-section .row .margin {
    width: 2px;
    height: 160px;
    background-color: #4d4d4d;
    margin-right: 20px;
}

.achievement-section {
    height: 50vh;
    padding: 20px 162px 20px 162px;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement-section .container {
    width: 100%;
    display: block;
    height: 80%;
}

.achievement-section h2 {
    font-size: 72px;
}

.achievement-section p {
    font-size: 18px;
    color: #4d4d4d;
}

.achievement-card {
    box-shadow: 0px 0px 0px 8px rgba(25, 25, 25, 1);
}

.experience-section {
    padding: 20px 162px 20px 162px;
    background-color: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-section .container {
    margin-top: 40px;
    width: 100%;
    display: block;
}

.experience-section h2 {
    font-size: 72px;
}

.experience-section p {
    font-size: 18px;
    color: #4d4d4d;
}

.cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.experience-card {
    width: 512px;
    height: 329px;
    gap: 0px;
    opacity: 0px;
}

.experience-card h6 {
    width: 512px;
    height: 62px;
    padding: 16px 20px 16px 20px;
    gap: 10px;
    opacity: 0px;
    border-left: 1px solid rgba(112, 59, 247, 1);
    
}

.experience-card .content {
    width: 512px;
    height: 267px;
    padding: 50px;
    gap: 20px;
    border-radius: 0px 12px 12px 12px;
    opacity: 0px;
    background: linear-gradient(120.79deg, #703BF7 -49.01%, rgba(112, 59, 247, 0) 13.65%);
    /* border: 1px solid linear-gradient(120.79deg, #703BF7 -49.01%, #4d4d4d 13.65%);
    border-image-source: linear-gradient(0deg, #262626, #262626),
        linear-gradient(117.89deg, #703BF7 0%, rgba(112, 59, 247, 0) 24%); */
        /* border: 1px solid linear-gradient(120.79deg, #703BF7 -49.01%, rgba(112, 59, 247, 0) 13.65%);         */
    border-left: 1px solid linear-gradient(120.79deg, rgba(112, 59, 247, 1) -49.01%, #4d4d4d 13.65%);
    border-top: solid linear-gradient(120.79deg, rgba(112, 59, 247, 1) -49.01%, #4d4d4d 13.65%);
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

.team-section {
    padding: 20px 162px 20px 162px;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-section .container {
    width: 100%;
    display: block;
    height: 80%;
    margin-top: 40px;
}

.team-section h2 {
    font-size: 72px;
}

.team-section p {
    font-size: 18px;
    color: #4d4d4d;
}

.team-section .cards-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-card {
    border-radius: 12px;
    border: 1px solid rgba(38, 38, 38, 1);
    width: 23%;
    padding: 30px;
    text-align: center;
    color: #ffffff;
}

.profile-image-section {
    width: 100%;
    height: 250px;
    /* border: 1px solid #fff; */
    border-radius: 12px;
    /* background-image: url(./Images/Sarah.png); */
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-social {
    width: 70px;
    height: 50px;
    background-color: rgba(112, 59, 247, 1);
    border-radius: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    top: -20px;
    z-index: 5;
}

h2 {
    margin: 10px 0 5px 0;
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    margin: 0 0 20px 0;
    font-weight: normal;
    color: rgba(153, 153, 153, 1);
}

.message-button {
    width: 100%;
    background-color: #333333;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.message-icon {
    margin-left: 10px;
    background-color: rgba(112, 59, 247, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-button:hover {
    background-color: #444444;
}

.valued-client-section {
    padding: 20px 162px 20px 162px;
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valued-client-section .container {
    width: 100%;
    display: block;
    height: 80%;
    margin-top: 40px;
}

.valued-client-section h2 {
    font-size: 72px;
}

.valued-client-section p {
    font-size: 18px;
    color: #4d4d4d;
}

.client-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.client-container {
    width: 773.5px;
    height: 478px;
    padding: 50px;
    gap: 40px;
    border-radius: 12px;
    border: 1px solid rgba(38, 38, 38, 1);
    opacity: 0px;
    box-shadow: 0px 0px 0px 8px rgba(25, 25, 25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.client-container .heading-section {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-container .domain-section {
    width: 100%;
    height: 65px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.domain-section .margin {
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.client-container .domain-section .features {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.client-container .domain-section .head {
    display: flex;
}

.head span {
    color: #4d4d4d;
    margin-left: 10px;
}

.client-container .comment-section {
    width: 100%;
    height: 155px;
    padding: 30px ;
    gap: 14px;
    border-radius: 12px ;
    border: 1px solid rgba(38, 38, 38, 1);
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.client-container .comment-section h6 {
    color: rgba(153, 153, 153, 1);

}

.client-container .comment-section p {
    color: white;
}