.center-banner {
    width: 175px;
    height: 175px;
}

@media (min-width: 800px) and (max-width: 1440px) {

    .center-banner {
        width: 129px;
        height: 129px;
    }

}

@media (max-width: 799px) {

    .center-banner {
        width: 117px;
        height: 117px;
    }

}