@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Urbanist", sans-serif;
}

.promotion-section {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    background-image: url(./svg/RightDesign.svg), url(./svg/LeftDesign.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right, bottom left;
}

.promotion-tagline {
    width: 80%;
    height: 100%;
    padding: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.promotion-tagline h2 {
    font-size: 48px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.promotion-tagline p {
    font-size: 18px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.button-section {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section a {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #703bf7;
    background-color: #703bf7;
    transition: 0.5s;
    font-size: 16px;
    color: #FFFFFF;
}

.button-section a:hover {
    background-color: #262626;
    border: 1px solid #262626;
}

.footer {
    width: 100%;
    height: 558px;
    background-color: #141414;
    color: #FFFFFF;
    text-align: left;
}

.footer-top {
    width: 100%;
    height: 454px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newsletter {
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.logoSection {
    width: 423px;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.inputBox {
    width: 423px;
    height: 66px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 18px 24px 18px 24px;
    gap: 10px;
    border-radius: 7px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(38, 38, 38, 1)
}

.emailInput {
    background-color: #141414;
    color: #FFF;
    outline: none;
    display: flex;
    width: 100%;
    font-size: 18px;
}

.emailButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.linksSection {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 20px;
}

.column {
    flex: 1;
}

.double-column {
    flex: 1;
} 

.columnTitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(153, 153, 153, 1);
}

.linkList {
    list-style: none;
    padding: 0;
}

.link {
    color: #FFF;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}

.footerBottom {
    display: flex;
    justify-content: space-evenly;
    padding: 0 162px;
    width: 100%;
    height: 104px;
    background-color: rgba(26, 26, 26, 1);
    font-size: 13px;
}

.bottomLeft {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.bottomLeft :nth-child(1) {
    color: rgba(255, 255, 255, 1);
    margin-right: 10px;
    font-size: 18px;
}

.bottomLeft :nth-child(2) {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    margin-right: 10px;
}

.socialMediaSection {
    display: flex;
    justify-content: end;
    width: 50%;
    align-items: center;
}

.socialIcon {
    width: 52px;
    height: 52px;
    margin: 0 10px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) and (max-width: 1440px) {

    .promotion-section .promotion-tagline {
        padding: 0 100px;
    }

    .promotion-tagline h2 {
        font-size: 38px;
    }

    .promotion-tagline p {
        font-size: 16px;
    }

    .button-section a {
        font-size: 14px;
    }

    .footer {
        height: 460px;
    }

    .footer-top {
        justify-content: center;
    }

    .newsletter {
        width: 30%;
    }

    .logoSection {
        width: 326px;
    }

    .inputBox {
        width: 326px;
        height: 52px;
    }

    .linksSection {
        width: 60%;
    }

    .columnTitle {
        font-size: 18px;
    }

    .link {
        font-size: 16px;
    }

    .bottomLeft :nth-child(1) {
        font-size: 14px;
    }

    .bottomLeft :nth-child(2) {
        font-size: 14px;
    }

    .socialIcon {
        width: 40px;
        height: 40px;
    }

    .footerBottom {
        display: flex;
        justify-content: space-evenly;
        padding: 0 80px;
    }

}

@media (max-width: 900px) {

    .promotion-section {
        height: 395px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 16px;
        /* background-image: url(./svg/RightDesign.svg), url(./svg/LeftDesign.svg); */
        background-position: bottom right, top left;
        margin: 0;
        justify-content: space-between;
    }

    .promotion-section .promotion-tagline {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .promotion-tagline h2 {
        font-size: 28px;
    }

    .promotion-tagline p {
        font-size: 14px;
    }

    .promotion-section .button-section {
        width: 100%;
        height: 49px;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .button-section a {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 14px;
    }

    .footer {
        height: 918px;
        width: 100%;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 740px;
    }

    .newsletter {
        width: 100%;
        height: 106px;
    }

    .logoSection {
        width: 326px;
    }

    .inputBox {
        width: 326px;
        height: 52px;
    }

    .emailInput {
        font-size: 14px;
    }

    .linksSection {
        width: 100%;
        height: 484px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .column {
        flex: 1;
        margin: 10px 20px 10px 20px;
        border-bottom: 1px solid rgba(38, 38, 38, 1);
    }

    .double-column {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .col {
        margin-bottom: 10px;
    }
    
    .columnTitle {
        font-size: 16px;
    }

    .link {
        font-size: 14px;
    }

    .footerBottom {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 16px;
        height: 178px;
    }

    .socialMediaSection {
        width: 100%;
        height: 60px;
    }

    .bottomLeft {
        width: 100%;
        height: 58px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .bottomLeft :nth-child(1) {
        font-size: 14px;
    }

    .bottomLeft :nth-child(2) {
        font-size: 14px;
    }

    .socialMediaSection {
        justify-content: center;
    }

    .socialIcon {
        width: 40px;
        height: 40px;
    }

}