.client-icon,
.star-icon,
.excelence-icon {
    width: 74px;
    height: 74px;
}

.x-icon {
    width: 24px;
    height: 24px;
}

.send-logo {
    width: 24px;
    height: 24px;
}

@media (min-width: 800px) and (max-width: 1440px) {

    .client-icon,
    .star-icon,
    .excelence-icon {
        width: 60px;
        height: 60px;
    }

}

@media (max-width: 799px) {

    .client-icon,
    .star-icon,
    .excelence-icon {
        width: 52px;
        height: 52px;
    }

}