.property-card {
    height: auto;
    color: #ffff;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    border-radius: 12px;
    opacity: 0px;
    border: 1px solid rgba(38, 38, 38, 1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

.desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}

@media (max-width: 1440px) {

    .property-card {
        height: auto;
        padding: 40px;
        gap: 20px;
        border-radius: 12px;
        opacity: 0px;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        margin-right: 20px;
        margin-left: 20px;
    }

    .desc {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }

}

@media (max-width: 1440px) {

    .property-card {
        padding: 24px;
        gap: 10px;
        border-radius: 12px;
        opacity: 0px;
    }

    .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }

    .desc {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }

}