.main-Logo {
    width: 160px;
    height: 48px;
}

@media (min-width: 800px) and (max-width: 1440px) {
    
    .main-Logo {
        width: 113.33px;
        height: 34px;
    }

}

@media (max-widht: 767px) {
    
    .main-Logo {
        width: 93.33px;
        height: 28px;
    }

    

}