.banner-section {
    width: 100%;
    background: linear-gradient(95.93deg, #262626 -26.82%, #141414 40.46%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 150px 400px 100px 162px;
    gap: 14px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: white;
}

p {
    color: rgba(153, 153, 153, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}

@media (min-width: 800px) and (max-width: 1440px) {


    .banner-section {
        width: 100%;
        background: linear-gradient(95.93deg, #262626 -26.82%, rgba(38, 38, 38, 0) 40.46%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 100px 200px 100px 80px;
        gap: 10px;
    }

    h1 {
        font-size: 38px;
        line-height: 57px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

}

@media (max-width: 799px) {

    .banner-section {
        padding: 50px 16px;
        gap: 10px;
    }

    h1 {
        font-family: Urbanist;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
    }

    p {
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }
}