.blog-card {
    width: 96%;
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0px;
}

.blog-card h5 {
    width: 100%;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
}

.blog-card p {
    width: 100%;
    gap: 0px;
    opacity: 0px;
    color: rgba(153, 153, 153, 1);
    font-size: 16px;
}

.blog-card a {
    width: 130px;
    padding: 10px;
    text-align: center;
    display: block;
    background-color: transparent;
    border: 1px solid #4d4d4d;
    background-color: rgba(26, 26, 26, 1);
    color: #fff;
    font-size: 18px;
}

.blog-card a:hover {
    background-color: #703bf7;
}

@media (max-width: 1440px) {

    .blog-card {
        border: 1px solid #262626;
        border-radius: 10px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 30px;
        width: 96%;
    }

    .blog-card h5 {
        width: 90%;
        height: 30%;
        gap: 0px;
        opacity: 0px;
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        padding: 0;
    }

    .blog-card p {
        width: 90%;
        height: 40%;
        gap: 0px;
        opacity: 0px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.006em;
        text-align: left;
        padding: 0;
    }

    .blog-card a {
        width: 107px;
        height: 20%;
        background-color: rgba(26, 26, 26, 1);
        border: 1px solid rgba(38, 38, 38, 1);
        font-size: 14px;
    }

}

@media (max-width: 900px) {

    .blog-card {
        width: 100%;
        padding: 30px;
        gap: 20px;
    }

    .blog-card h5 {
        font-family: Urbanist;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }

    .blog-card p {
        font-family: Urbanist;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.006em;
        text-align: left;
    }

    .blog-card a {
        width: 100%;
        padding: 14px 20px 14px 20px;
        gap: 10px;
        border-radius: 8px;
    }

}