.service-card {
    padding: 40px 20px;
    border: 1px solid #1A1A1A;
    border-radius: 5px;
    color: #ffff;
    position: relative;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(38, 38, 38, 1);
}

.service-card p {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon svg {
    width: 16px;
}

@media (max-width: 1440px) {

    .service-card {
        width: 100%;
        height: 160px;
        padding: 20px 10px;
        gap: 16px;
        border-radius: 10px;
        border: 1px;
        opacity: 0px;
    }

    .service-card p {
        font-size: 16px;
        font-weight: 500;
        padding: 0;
    }
}

@media (max-width: 90px) {

    .service-card {
        padding: 20px 14px;
        gap: 8px;
        opacity: 0px;
    }

    .service-card p {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        text-align: center;
    }

}