.hero-section {
  background-color: #1a1a1a;
  margin-top: 100px;
}

.banner-tag {
  height: 175px;
  width: 175px;
  display: flex;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero .banner-content-section {
  width: 50%;
}

.hero .banner-image-section {
  width: 50%;
  height: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  height: 100%;
  color: #fff;
  background-color: #141414;
  padding: 0 3.75rem 0 12.5rem;
  gap: 60px;
}

.banner-content h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 55.2px;
}

.banner-content p {
  font-size: 18px;
  color: rgba(153, 153, 153, 1);
}

.banner-content .banner-btn {
  display: flex;
  gap: 10px;
}

.banner-content .banner-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.banner-content .banner-btn button:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
}

.banner-content .banner-btn button:nth-child(2) {
  background-color: #703bf7;
  border: 1px solid #703bf7;
}

.banner-content .banner-btn button:nth-child(2):hover {
  background-color: transparent;
  border: 1px solid #262626;
}

.banner-content .feature {
  width: 100%;
  height: 121px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.banner-content .feature .card {
  border: 1px solid #262626;
  border-radius: 12px;
  background-color: #1a1a1a;
  padding: 16px 24px;
}

.banner-content .feature .card h6 {
  font-size: 40px;
  font-weight: 600;
}

.banner-content .feature .card p {
  padding: 0;
  font-size: 18px;
  color: #999;
}

.hero-section .banner-image {
  background-image: url("../../assets/banner-bg.png");
  background-size: 100% 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .banner-image img {
  width: 100%;
  height: 100%;
}

.service-section {
  padding: 20px 10px;
  background-color: #141414;
  display: flex;
}

.service-section .ant-col-6 {
  padding: 10px;
}

.features-section,
.review-section,
.blog-section,
.values-section {
  padding: 20px 162px;
  background-color: #141414;
  color: #fff;
}

.features-section h2 {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 10px;
}

.features-section p {
  color: rgba(153, 153, 153, 1);
  font-size: 18px;
}

.features-section a {
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.features-section a:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
  color: #fff;
}

.feature-container {
  display: flex;
  gap: 30px;
}

@media (max-width: 1800px) {

  .banner-content .feature .card p {
    font-size: 16px;
  }

}

@media (max-width: 1700px) {

  .features-section,
  .review-section,
  .blog-section,
  .values-section {
    padding: 20px 110px;
  }

}

@media (max-width: 1600px) {

  .features-section,
  .review-section,
  .blog-section,
  .values-section {
    padding: 20px 80px;
  }

}

@media (max-width: 1440px) {

  .hero-section {
    margin-top: 77px;
    height: 622px;
  }

  .banner-content {
    padding: 0 40px 0 80px;
    gap: 32px;
  }

  .banner-content h1 {
    font-family: Urbanist;
    font-size: 46px;
    font-weight: 600;
    line-height: 55.2px;
    text-align: left;
  }

  .banner-content p {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .banner-content .feature {
    height: 99px;
    gap: 10px;
  }

  .banner-content .feature .card {
    padding: 14px 14px;

  }

  .banner-content .feature .card h6 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
  }

  .banner-content .feature .card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .banner-tag {
    height: 129px;
    width: 129px;
  }


  .features-section h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    text-align: left;

  }

  .features-properties p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .feature-container {
    display: flex;
    gap: 20px;
  }
}