.hero-section {
  background-color: #1a1a1a;
}

.banner-tag {
  height: 175px;
  width: 175px;
  display: flex;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hero {
  width: 100%;
  height: 832px;
  display: flex;
}

.hero .banner-content-section {
  width: 50%;
  height: 100%;
}

.hero .banner-image-section {
  width: 50%;
  height: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  height: 100%;
  color: #fff;
  background-color: #141414;
  padding: 0 60px 0 200px;
}

.banner-content h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 55.2px;
}

.banner-content p {
  font-size: 18px;
  padding: 40px 0;
  color: rgba(153, 153, 153, 1);
}

.banner-content .banner-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.banner-content .banner-btn button:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
}

.banner-content .banner-btn button:nth-child(2) {
  background-color: #703bf7;
  margin-left: 10px;
  border: 1px solid #703bf7;
}

.banner-content .banner-btn button:nth-child(2):hover {
  background-color: transparent;
  border: 1px solid #262626;
}

.banner-content .feature {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.banner-content .feature .card {
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #1a1a1a;
}

.banner-content .feature .card h6 {
  font-size: 40px;
  font-weight: 600;
}

.banner-content .feature .card p {
  padding: 0;
  font-size: 18px;
  color: #999;
}

.hero-section .banner-image {
  background-image: url("../../assets/banner-bg.png");
  background-size: 100% 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .banner-image img {
  width: 100%;
  height: 100%;
}

/* .rotator{

}
.rotator .inner-rotaor{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;

}
.rotator .inner-rotaor .rotator-img{
  position: absolute;
	width: 140px;
	height: 140px;
	background-size: cover;
	border-radius: 100vmax;
	background-position: center;
}
.rotator .inner-rotaor .text p{
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: consolas;
	color: #000;
	font-size: 17px;
	animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
} */

.service-section {
  padding: 20px 10px;
  background-color: #141414;
  display: flex;
}

.service-section .ant-col-6 {
  padding: 10px;
}

.features-section,
.review-section,
.blog-section,
.values-section {
  padding: 20px 162px 20px 162px;
  background-color: #141414;
  color: #fff;
}

.features-section h2 {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 10px;
}

.features-section p {
  color: #4d4d4d;
  font-size: 16px;
}

.features-section a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.features-section a:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
  color: #fff;
}

@media (min-width: 800px) and (max-width: 1440px) {

  .banner-tag {
    height: 129px;
    width: 129px;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-content {
    padding: 0 40px 0 60px;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
  }

  .banner-content h1 {
    width: 610px;
    font-size: 48px;
  }

  .banner-content p {
    font-size: 16px;
    width: 610px;
    margin: 20px 0;
    padding: 0;
  }

  .banner-content .banner-btn {
    width: 610px;
    height: 49px;
  }

  .banner-content .banner-btn button {
    font-size: 14px;
    border-radius: 10px;
    height: 49px;
  }

  .banner-content .feature {
    width: 610px;
    height: 99px;
    padding: 0;
  }

  .banner-content .feature .card {
    width: 192px;
    height: 99px;
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .banner-content .feature .card h6 {
    font-size: 30px;
    font-weight: 700;
  }

  .banner-content .feature .card p {
    font-size: 16px;
    font-weight: 500;
    width: 152px;
    margin: 0;
  }

  .service-section {
    height: 180px;
    padding: 0;
  }

  .features-section {
    padding: 30px 80px;
  }

  .features-section h2 {
    width: 1280px;
    font-size: 38px;
  }

  .features-section .features-properties {
    width: (100% - 80px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .features-properties p {
    width: 900px;
  }

  .features-section a {
    width: 155px;
    height: 49px;
    padding: 14px 20px;
    gap: 8px;
    border-radius: 8px;
    border: 1px;
    font-size: 14px;
    opacity: 0px;
    background-color: rgba(26, 26, 26, 1);
  }



}

@media (max-width: 799px) {

  .hero-section {
    width: 100%;
    display: flex;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 1200px;
    justify-content: space-between;
  }

  .hero .banner-image-section {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .banner-image-section .banner-image {
    width: 90%;
    height: 305px;
    border-radius: 10px;
  }

  .banner-image img {
    border-radius: 10px;
  }

  .hero .banner-content-section {
    width: 100%;
    height: 650px;
    display: flex;
    /* display: none; */
    justify-content: center;
  }

  .banner-content-section .banner-content {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .banner-content h1 {
    width: 90%;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    margin: 45px 0 5px 0;
  }

  .banner-content p {
    width: 90%;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    padding: 0;
  }

  .banner-tag {
    height: 117px;
    width: 117px;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -40%);
  }

  .banner-btn {
    width: 90%;
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .banner-content .banner-btn button:nth-child(2) {
    margin: 0;
  }

  .banner-content .feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    height: 280px;
    width: 90%;
    justify-content: space-between;
  }

  .banner-content .feature .card {
    width: 95%;
    height: 91px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .banner-content .feature .card h6 {
    width: 90%;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .banner-content .feature .card p {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .service-section {
    height: 318px;
    padding: 0;
    display: grid;
  }

  .service-section .ant-col-6 {
    padding: 0;
  }

  .service-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  .features-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
  }
  
  .features-properties .para-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .features-properties .button-section {
    display: none;
  }

  .features-section h2 {
    width: 90%;
    font-size: 28px;
    padding: 0;
  }

  .features-section p {
    width: 90%;
    font-size: 14px;
  }

  .features-section a {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #262626;
    transition: 0.5s;
    font-size: 16px;
  }

}