.hero-section {
  background-color: #1a1a1a;
  margin-top: 100px;
}

.banner-tag {
  height: 175px;
  width: 175px;
  display: flex;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .banner-content-section {
  width: 100%;
}

.hero .banner-image-section {
  width: 100%;
  height: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  height: 100%;
  color: #fff;
  background-color: #141414;
  padding: 0 3.75rem 0 12.5rem;
  gap: 60px;
}

.banner-content h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 55.2px;
}

.banner-content p {
  font-size: 18px;
  color: rgba(153, 153, 153, 1);
}

.banner-content .banner-btn {
  display: flex;
  gap: 10px;
}

.banner-content .banner-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.banner-content .banner-btn button:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
}

.banner-content .banner-btn button:nth-child(2) {
  background-color: #703bf7;
  border: 1px solid #703bf7;
}

.banner-content .banner-btn button:nth-child(2):hover {
  background-color: transparent;
  border: 1px solid #262626;
}

.banner-content .feature {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.banner-content .feature .card {
  border: 1px solid #262626;
  border-radius: 12px;
  background-color: #1a1a1a;
  padding: 16px 24px;
}

.banner-content .feature .card h6 {
  font-size: 40px;
  font-weight: 600;
}

.banner-content .feature .card p {
  padding: 0;
  font-size: 18px;
  color: #999;
}

.hero-section .banner-image {
  /* background-image: url("./svg/"); */
  background-size: 100% 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .banner-image img {
  width: 100%;
  height: 100%;
}

.service-section {
  background-color: rgba(20, 20, 20, 1);
  padding: 20px 10px;
  display: flex;
  box-shadow: 0px 0px 0px 10px rgba(25, 25, 25, 1);
  border: 1px solid rgba(38, 38, 38, 1);
}

.service-section .ant-col-6 {
  padding: 10px;
}

.feature-section {
  padding: 20px 162px;
  background-color: #141414;
  color: #fff;
  display: grid;
  gap: 30px;
}

.feature-section .feature-content {
  width: 100%;
  display: flex;
}

.feature-section .feature-content .feature-detailed {
  width: 85%;
}

.feature-section .feature-content .feature-detailed h2 {
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}

.feature-section p {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: rgba(153, 153, 153, 1);
}

.feature-section .feature-content .feature-button-section {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.feature-section .feature-content .feature-button-section a {
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(26, 26, 26, 1);
  border: 1px solid #262626;
  transition: 0.5s;
  font-size: 16px;
}

.feature-section a:hover {
  border: 1px solid #703bf7;
  background-color: #703bf7;
  color: #fff;
}

@media (max-width: 1800px) {

  .banner-content .feature .card p {
    font-size: 16px;
  }

}

@media (max-width: 1700px) {

  .features-section,
  .review-section,
  .blog-section,
  .values-section {
    padding: 20px 110px;
  }

}

@media (max-width: 1600px) {

  .feature-section,
  .review-section,
  .blog-section,
  .values-section {
    padding: 20px 80px;
  }

}

@media (max-width: 1440px) {

  .hero-section {
    margin-top: 77px;
    height: auto;
  }

  .banner-content {
    padding: 0 40px 0 80px;
    gap: 32px;
  }

  .banner-content h1 {
    font-family: Urbanist;
    font-size: 46px;
    font-weight: 600;
    line-height: 55.2px;
    text-align: left;
  }

  .banner-content p {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .banner-content .feature {
    height: 99px;
    gap: 10px;
  }

  .banner-content .feature .card {
    padding: 14px 14px;

  }

  .banner-content .feature .card h6 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
  }

  .banner-content .feature .card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .banner-tag {
    height: 129px;
    width: 129px;
  }

  .service-section {
    display: grid;
  }

}


@media (max-width: 900px) {

  .hero-section {
    background-color: #141414;
    margin-top: 67px;
    padding: 20px 16px;
  }

  .banner-tag {
    height: 117px;
    width: 117px;
    display: flex;
    position: absolute;
    top: 47%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    background-color: #141414;
  }

  .hero .banner-content-section {
    width: 100%;
    display: grid;
  }

  .hero .banner-image-section {
    width: 100%;
    height: 100%;
  }

  .banner-content {
    height: 100%;
    color: #fff;
    background-color: #141414;
    padding: 0;
    gap: 40px;
  }

  .banner-content div {
    display: grid;
    gap: 10px;
  }

  .banner-content h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
  }

  .banner-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }

  .banner-content .banner-btn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .banner-content .banner-btn button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #262626;
    transition: 0.5s;
    font-size: 16px;
  }

  .banner-content .banner-btn button:hover {
    border: 1px solid #703bf7;
    background-color: #703bf7;
  }

  .banner-content .banner-btn button:nth-child(2) {
    background-color: #703bf7;
    border: 1px solid #703bf7;
  }

  .banner-content .banner-btn button:nth-child(2):hover {
    background-color: transparent;
    border: 1px solid #262626;
  }

  .banner-content .feature {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .banner-content .feature .card {
    padding: 14px;
    gap: 2px;
  }

  .banner-content .feature .card:last-child {
    grid-column: span 2;
  }

  .banner-content .feature .card h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  .banner-content .feature .card p {
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
  }

  .hero-section .banner-image {
    background-size: 100% 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  .hero-section .banner-image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-image: url(./svg/Abstract\ Design.svg) no-repeat;
  }

  .service-section {
    grid-template-columns: repeat(2, 1fr);
  }


  .feature-section {
    padding: 20px 16px;
    background-color: #141414;
    color: #fff;
    display: grid;
    gap: 30px;
  }

  .feature-section .feature-content {
    width: 100%;
    display: grid;
    gap: 10px;
  }

  .feature-section .feature-content .feature-detailed {
    width: 100%;
    gap: 5px;
  }

  .feature-section .feature-content .feature-detailed h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
  }

  .feature-section p {
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }

  .feature-section .feature-content .feature-button-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .feature-section .feature-content .feature-button-section .feature-button {
    padding: 10px;
    height: max-content;
    border-radius: 5px;
    background: rgba(26, 26, 26, 1);
    border: 1px solid #262626;
    transition: 0.5s;
    font-size: 16px;
  }



}